{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{%static 'css/styles.css'%}">
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
		<script src="https://unpkg.com/htmx.org@1.8.4"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
		<title>{{board.title}}</title>
	</head>
	<body class="body">
		{% include 'header.html' %}

		<div id="modal" class="modal fade" tabindex="-1">
			<div id="dialog" class="modal-dialog modal-lg modal-dialog-scrollable" hx-target="this">

			</div>
		</div>
		<!-- Board info bar -->
		<section class="board-info-bar">
			<div class="board-controls">
				<button class="board-title boton">
					<h2>{{board.title}}</h2>
				</button>
				<button class="star-btn boton" aria-label="Star Board" onclick="addBoardToFavorite({{board.id}})">
					<i class="far fa-star {%if board.favorite == 1%}fa-solid{%endif%}" aria-hidden="true" id="star-{{board.id}}"></i>
				</button>
				<button class="personal-btn boton">Personal</button>
				<button class="private-btn boton"><i class="fas fa-briefcase private-btn-icon"
						aria-hidden="true"></i>Private</button>
			</div>
			<button class="menu-btn boton"><i class="fas fa-ellipsis-h menu-btn-icon"
					aria-hidden="true"></i>Show Menu</button>
		</section>
		<!-- End of board info bar -->

		<!-- Lists container -->
		<section class="lists-container">
			{% for column in columns %}
			<!-- Arreglar las clases y los ids para el drag and drop -->
			<div class="list">
				<div class="list-title">
					<div class="input-group" style="padding-bottom:10px;">
						<input  name="" id="" class="form-control" style="resize: none;height: 40px;background:none;" value="{{column.title}}" onblur="event.target.style.background = 'none';" onfocus="event.target.style.background = '#fff';">
						<span class="input-group-text" style="background:none;float:right;display:flex"><i class="fa-solid fa-ellipsis"></i></span>
					</div>
				</div>
				<ul class="list-items" id="list-items_{{column.id}}" ondrop="dropIt(event,{{column.id}})" ondragover="allowDrop(event)">
					{% for card in cards %}
					{% if card.column == column %}
					<li ondragstart="dragStart(event,{{card.id}})" id="card_{{card.id}}" draggable="true" hx-get="{%url 'edit_card' card.id%}" hx-target="#dialog">{{card.title}}</li>
					{% endif %}
					{% endfor %}
				</ul>
				<form id="form-card" onsubmit="event.preventDefault()">{% csrf_token %}
					<input type="text" id="create-card_{{column.id}}" onchange="createCard({{column.id}})"
						class="add-card-btn boton create-card" placeholder="Add a card">
				</form>
			</div>
			{% endfor %}
			<form id="form-column">{% csrf_token %}
				<input type="text" id="create-column" onchange="createColumn({{board.id}})"
					class="add-list-btn boton" placeholder="Add a column" style="margin-left:
					5px;">
			</form>
			{%block body%}

			{%endblock body%}
		</section>
	</body>
	<script src="{%static 'js/board.js'%}"></script>

</html>
