 <div action="{{request.path}}" method="post" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{object.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="">
                        <h3 class="d-inline"><i class="fa-solid fa-bars-staggered "></i></h3>
                        <h3 class="d-inline ms-2">Description</h3>
                        
                            <textarea name="description" id="" value="{% if object.description != none %}
                            {{object.description}}
                            {% endif %}"
                                rows="3" class="form-control ">
                            </textarea>
                    </div>
                    <h3 class="d-inline mt-2"><i class="fa-solid fa-bars-staggered "></i></h3>
                    <h3 class="d-inline ms-2">Activity</h3>

                    <div class="member mt-2">
                        <img src="" alt="" class="member-img">
                        <!-- <form action="" class="form-member"> -->
                            <input type="text"
                                class="form-control">
                            <!-- </form> -->
                    </div>
                </div>
                <div class="col-3">123</div>
            </div>
        </div>
    </div>
</div>
