<div action="{{request.path}}" method="post" class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{object.title}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="">
                        <h3 class="d-inline"><i class="fa-solid fa-bars-staggered "></i></h3>
                        <h3 class="d-inline ms-2">Description</h3>
                        <div>
                            <textarea name="description" id="description_{{object.id}}" onfocus="event.target.rows = 5" onblur="event.target.rows = 3,saveDescriptionCard({{object.id}})"
                                rows="3" class="form-control ">{% if object.description != null %}{{object.description}}{% endif %}</textarea>
                            <!-- <button type="button" class="btn btn-primary" id="save_button_{{object.id}}" onclick="saveDescriptionCard({{object.id}})" style="visibility: hidden;">Save</button> -->
                        </div>

                    </div>
                    <h3 class="d-inline mt-2"><i class="fa-solid fa-bars-staggered "></i></h3>
                    <h3 class="d-inline ms-2">Activity</h3>

                    <div class="member mt-2">
                        <img src="" alt="" class="member-img">
                            <div>
                                <textarea type="text" class="form-control"></textarea>
                                <div id="upload_options_{{object.id}}">
                                    <!-- <button type="button" class="btn btn-primary">Save</button> -->
                                <span class="btn btn-primary btn-file">
                                    Browse...<input type="file">
                                </span>
                                </div>
                            
                            </div>
                    </div>
                </div>
                <div class="col-3">123</div>
            </div>
        </div>
    </div>
</div>
